.serch {
  display: flex;
  justify-content: space-between;
  margin: 1rem 6rem;
}

.serch-input {
  width: 100%;
}

.serch-input input {
  width: 35%;
  padding: 0.5rem 1.5rem;
  outline: none;
  border-radius: 0.5rem;
  border: solid 0.5px gray;
  text-align: left;
}

.dropdown {
  background: white !important;
  color: black !important;
  font-weight: lighter !important;
  border-color: gray !important;
  width: 160px !important;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 0.5rem;
  row-gap: 2rem;
  margin: 5rem;
}
@media screen and (max-width: 900px) {
  .movies-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.5rem;
    row-gap: 1rem;
    margin: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .movies-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    margin: 1rem;
  }
}
